<div id="contenido">
    <h3>Tareas Pendientes</h3>
    <div class="listado">
        <div class="listado" *ngFor="let tarea of listadoTareas">
            <app-tarea [estaTarea]="tarea" [app]="this.app" *ngIf="tarea.estado === 'pendiente'">
            </app-tarea>
        </div>
    </div>
    <h3>Tareas Realizadas</h3>
    <div class="listado">
        <div *ngFor="let tarea of listadoTareas">
            <app-tarea [estaTarea]="tarea" [app]="this.app" *ngIf="tarea.estado !== 'pendiente'">
            </app-tarea>
        </div>
    </div>
</div>