/* app-listado-tareas.component.css */

/* Estilos para el contenedor del listado */
#listado {
    margin-bottom: 20px;
  }
  
  /* Estilos para el título del listado */
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de mostrar tareas pendientes */
  button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para cada tarea en el listado */
  .app-tarea {
    margin-bottom: 10px;
  }
  