/* app-documentacion.component.css */

/* Estilos para el título principal */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilos para los títulos de sección */
  h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Estilos para los párrafos de texto */
  p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  /* Estilos para la lista de componentes */
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  /* Estilos para enlaces */
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  