#menu li{
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
#menu li:hover{
    background-color: lightcoral;
}
#menu {
    background-color: lightsalmon;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
