h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 20px;
}

#contenido{
  background-color:coral;
}

form {
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

button[type="submit"] {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3367d6;
}
